extends ./layout.jade

block head
	script(type='text/javascript', src='javascripts/amcharts3/amcharts.js')
	script(type='text/javascript', src='javascripts/amcharts3/serial.js')
	script(type='text/javascript', src='javascripts/amcharts3/light.js')
	script(type='text/javascript', src='javascripts/amcharts3/pie.js')
	script(type='text/javascript', src='javascripts/graph.js')
		
block bodyContent
	.bodycontainer
		.container
			#chartdiv
			#tablediv
				table#graphTable.table.table-bordered.table-striped
					thead#tableHeader
					tbody#tableBody
				#bolusGraph