extends ./layout.jade

block head
	script(type='text/javascript', src='javascripts/home.js')
		
block bodyContent
	.jumbotron
		.container
			h1 Home
			input#search(type="search", placeholder="Search")
			h2#results